html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Sackers Gothic Std';
    font-weight: 500;
    font-size: 7px;
    -webkit-print-color-adjust: exact;
    box-sizing: border-box;
}

.page {
    position: relative;
    height: 90mm;
    width: 50mm;
    display: block;
    background: black;
    page-break-after: auto;
    margin: 50px;
    overflow: hidden;
}

.page {
    margin: 0;
    height: 100%;
    width: 100%;
}

.page.first {
    border-left: 5px solid green;
}

.bottom {
    position: absolute;
    left: 5mm;
    right: 5mm;
    bottom: 5mm;
}

.group {
    margin-top: 3mm;
}

.line {
    color: white;
    position: relative;
}

.box {
    max-width: 800px;
    margin: auto;
    padding: 5px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

#mapa {
    position: relative;
    background: rgb(250, 250, 250);
    width: 10%;
    left: 5%;
    top: 5%;
}